@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #e4e8ed;
}

/* Header */

nav {
    background-color: #161412;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav .search {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    height: 35px;
    line-height: 35px;
}

nav .search input {
    border: none;
    outline: none;
    background-color: #ffffff;
    height: 100%;
    padding: 0px 10px;
    width: 350px;
    font-size: 15px;
}

nav .search span {
    color: #ffffff;
    font-size: 20px;
    height: 100%;
    padding: 8px;
    cursor: pointer;
}

nav .search span:hover {
    color: #ddd9d6;
}

.logo img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 20px;
    margin-top: 8px;
}
ul.navigation {
    display: flex;
    padding: 3px;
}

ul.navigation>li {
    list-style: none;
    padding: 15px;
    cursor: pointer;
}

ul.navigation li a {
    text-decoration: none;
    color: aliceblue;
}

ul.navigation li a:hover {
    color: #ddd9d6;
}

/* Dropdown */
ul.child {
    display: none;
    background-color: rgb(54, 58, 62);
    color: white;
    list-style: none;
    padding: 0;
    width: 100px;
    margin-top: 18px;
    position: absolute;
    z-index: 1;
}

ul.child>li { 
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
}

@media screen and (max-width: 900px) {
    nav {
        display: block;
    }

    nav .navigation {
        display: block;
        text-align: center;
    }

    nav .search {
        margin-left: 100px;
    }

    ul.child {
        display: none;
        text-align: center;
        background-color: rgb(54, 58, 62);
        color: white;
        list-style: none;
        position: static;
        width: 100%;
    }

    ul.child {
        padding: 5px;
    }
}

/* Main */
main{
    margin-top: 90px;
}

p.heading{
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
}

article{
    margin: 25px;
}

h2{
    text-align: center;
    font-weight: 400;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
}

.information{
    margin: 30px;
    padding: 5px;
}

.content-2{
    border-left: 0.2px solid #3c4043;
}

form{
    margin: 25px;
    justify-content: center;
}

form > label{
    margin-bottom: 8px;
}

form > label > input, form > label > textarea{
    padding: 10px;
    border-radius: 4px;
    border: none;
}

form > label > input:focus{
    outline: none;
    border: 2px solid #ddd9d6;
}
form > label, form > label> input, form > label> textarea{
    display: block;
}

.button{
    margin: 20px 0 20px 0;
}

.fa-solid{
    --fa-animation-duration: 3s;
    --fa-animation-iteration-count: 1;
}

.fews{
    font-size: 0.8em;
    font-weight: 300;
}

span{
    color: red;
    font-size: 0.8em;
    font-weight: 700;
}

/* CSS */
#submit {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

#submit:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

#submit:focus {
  border-color: #4285f4;
  outline: none;
}
/* Footer */
footer{
    background-color: #161412;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.info {
    padding: 20px;
}

.footnav {
    padding: 15px;
    justify-content: right;
    position: static;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.footnav li {
    list-style: none;
    padding: 15px;
}

.footnav li a {
    text-decoration: none;
    color: white;
}

.footnav li a:hover {
    color: #ddd9d6;
}

.fa-twitter{
    padding: 15px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #f2f2f2;
    color: #292929;
    margin: 0px 10px 0px 0px ;
}
.fa-twitter:hover{
  background: #1569f1;
  color: #f2f2f2;
}
.fa-facebook-f{
  padding: 14px;
  font-size: 20px;
  width: 47px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #f2f2f2;
  color: #292929;
  margin: 0px 10px 0px 0px ;
}
.fa-facebook-f:hover{
  background: #104eb3;
  color: #f2f2f2;   
}
.fa-instagram{
  padding: 13px;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  background: #f2f2f2;
  color: #292929;
}
.fa-instagram:hover{
  color: white;
  background: linear-gradient(to bottom left,indigo,rgb(194, 38, 38),yellow);
}

@media screen and (max-width: 900px) {
    footer {
        display: block;
    }

    .info {
        display: block;
    }
}